/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.header
  background-color $backgroundColor
  
.theme-container.home-override .theme-default-content {
  width: 100%
  max-width: 100%
  padding: 0
}
